<h1>Enter a Coin You Collected!</h1>

<form action=" http://localhost:3000/coininsert" method = "POST">
    <div>
            <label for = "email"> Email</label> 
            <input type="email" id = "email" name = "email"
            required>       
    </div>
    <div>
        <label for = "machine"> Machine Name</label> 
        <input type="machine" id = "machine" name = "machine"
        required>       
    </div>
    <div>
        <label for = "coin"> Coin Name</label> 
        <input type="coin" id = "coin" name = "coin"
        required>       
    </div>
    <button type="submit">Confirm Entry</button>

</form>



